<button type="button" class="btn btn-load" title="Reload data" (click)="reload()"></button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Region</th>
        </tr>
    </thead>
    <tbody [rtSelectionAreaFor]="regions" [trackBy]="trackByName">
        <tr *ngFor="let region of regions, let index=index" [rtSelectByIndex]="index" [class.selected]="region.selected">
            <td class="text-center">
                {{region.name}}
            </td>
        </tr>
    </tbody>
</table>