.vscode
.publish
publish
build
docs
node_modules
coverage
tests
**/*[!.][!d].ts

.cleandir.sh
yarn.lock
.travis.yml
karma.entry.js
karma.conf.js
karma.conf.debug.js
tsconfig.json
tslint.json
typedoc.json
wallaby.js
logo.png