<div>
    <h1 class="page-title">Grouping and recursive selection sample</h1>
    <rt-list [fetchMethod]="loadData" #list="rtList">
        <rt-demo-filter-area>
        </rt-demo-filter-area>
        <table class="table table-striped" [rtSelectionAreaFor]="list.items" [toggleOnly]="true">
            <caption rt-demo-toolbar class="text-right">
            </caption>
            <thead rt-demo-sortable-header>
            </thead>
            <tbody>
                <template ngFor let-region [ngForOf]="list.items" let-index="index">
                    <tr [class.selected]="region.selected" [rtSelectByIndex]="index" style="cursor: pointer">
                        <td colspan="9" class="text-center">{{region.name}} ({{region.airports.length}} items)</td>
                    </tr>
                    <tr *ngIf="region.selected">
                        <td colspan=9>
                            <table class="table table-striped">
                                <tbody [rtSelectionAreaFor]="region.airports">
                                    <tr *ngFor="let airport of region.airports, let index=index" [class.selected]="airport.selected" [rtSelectByIndex]="index">
                                        <td>
                                            <rt-row-number [index]="index">
                                            </rt-row-number>
                                        </td>
                                        <td>{{airport.iata}}</td>
                                        <td>{{airport.name}}</td>
                                        <td>{{airport.timeZone}}</td>
                                        <td>{{airport.cityName}}</td>
                                        <td>{{airport.countryName}}</td>
                                        <td>{{airport.region}}</td>
                                        <td>{{airport.type}}</td>
                                        <td>{{airport.size || 'unspecified'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="list-pager">
                        <rt-demo-footer></rt-demo-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-list>
</div>