<rt-list-state-no-data class="text-center">
    There are no data found
</rt-list-state-no-data>
<rt-list-state-request-canceled class="text-center">
    Data loading was cancelled
</rt-list-state-request-canceled>
<rt-list-state-failed class="text-center">
    An error has occured since the last data loading
</rt-list-state-failed>
<rt-list-state-initial class="text-center">
    Enter search options and press "Show" button
</rt-list-state-initial>
<rt-list-state-progress class="text-center">
    <div></div>
</rt-list-state-progress>
<div>
    <rt-total-records-text #rtref>
        Loaded records {{rtref.pager.loadedCount}} of {{rtref.pager.totalCount}}
    </rt-total-records-text>
    <rt-display-pager>
        <a tabindex="0" rtLoadMore href="#">Show more</a>
        <input class="form-control" rtSelectOnFocus rtRowCount type="text" maxlength="3" title="count of rows to load" />
    </rt-display-pager>
</div>