@import '../../../shared.scss';
rt-total-records-text, rt-display-pager{
    text-align: right;
}

rt-display-pager>div {
    display: inline;
}
:host {
    text-align: right;
    display: block;
    > * {
        display: block;
    }
    rt-display-pager > * {
        vertical-align: middle;
    }
}

a {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    color: $color-light-blue;
    margin: 0 3px;
    @include opacity(.85);
    &:hover, &:focus {
        @include opacity(1);
        text-decoration: none;
    }
}
