<tr>
  <th class="t-col-iata">
    <span>&#8470;</span>
  </th>
  <th class="t-col-iata-code">
    <span [rtSort]="'iata'">IATA</span>
  </th>
  <th class="t-col-airport-name">
    <span [rtSort]="'name'">Airport name</span>
  </th>
  <th class="t-col-timezone">
    <span [rtSort]="'timeZone'">Time zone</span>
  </th>
  <th class="t-col-city-name">
    <span [rtSort]="'cityName'">City name</span>
  </th>
  <th class="t-col-country-name">
    <span [rtSort]="'countryName'">Country name</span>
  </th>
  <th class="t-col-region">
    <span [rtSort]="'region'">Region</span>
  </th>
  <th class="t-col-type">
    <span [rtSort]="'type'">Type</span>
  </th>
  <th class="t-col-size">
    <span [rtSort]="'size'">Size</span>
  </th>
</tr>