<div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h1>Misc directives</h1>
        <h3>Table of contents</h3>
        <ul>
            <li><a href="/misc-directives#common-idea">Общая идея</a></li>
            <li><a href="/misc-directives#bootstrap">Как подключить</a></li>
            <li><a href="/misc-directives#stop-events">Директива <code>rtStopEvents</code></a></li>
            <li><a href="/misc-directives#prevent-defaults">Директива <code>rtPreventDefaults</code></a></li>
            <li><a href="/misc-directives#select-on-focus">Директива <code>rtSelectOnFocus</code></a></li>
            <li><a href="/misc-directives#focus-on-render">Директива <code>rtFocusOnRender</code></a></li>
        </ul>
        <section id="common-idea">
            <h3>Общая идея</h3>
            <p>
                Данные директивы работают напрямую с браузерными элементами и их событиями, реализуя сугубо утилитарный функционал, не связанный
                напрямую с функционалом <code>right-angled</code>. Такой, например, как предотвращения всплывания
                событий.
            </p>
        </section>
        <section id="bootstrap">
            <h3>Как подключить</h3>
            <p>Чтобы подключить данные директивы, достаточно импортировать модуль <code>RTMiscModule</code> из библиотеки <code>right-angled</code>.
            </p>
            <p>
                Так же основной модуль <code>RtModule</code> уже включает в себя <code>RTMiscModule</code>, поэтому можно
                импортировать и его.
            </p>
            <rt-demo-tab-section>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/bootstrap/app.module.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="stop-events">
            <h3>Директива <code>rtStopEvents</code></h3>
            <p>
                Данная директива принимает в качестве параметра строку или массив строк с названиями браузерных событий.
            </p>
            <p>
                Директива подпишется на указанные события элемента и будет вызывать для них<code>evt.stopPropagation()</code>,
                предотвращая дальнейшую передачу событий.
            </p>
            <p>
                В примере ниже вы можете увидеть, как элемент <code>input</code>, помеченый данной директивой, останавливает
                распространение события keypress если установлена галочка "stop keypress events propagation" и не дает родительскому
                элементу <code>div</code> обрабатывать данные события.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="rtStopEvents">
                    <rt-demo-stop-events></rt-demo-stop-events>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/stop-events/stop-events.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/stop-events/stop-events.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="prevent-defaults">
            <h3>Директива <code>rtPreventDefaults</code></h3>
            <p>
                Данная директива принимает в качестве параметра строку или массив строк с названиями браузерных событий.
            </p>
            <p>
                Директива подпишется на указанные события элемента и будет вызывать для них<code>evt.preventDefault()</code>,
                предотвращая выполнение действий по умолчанию для событий.
            </p>
            <p>
                В примере ниже вы можете увидеть ссылку, клик по которой не ведет к переходу благодаря директиве <code>rtPreventDefaults</code>.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="rtPreventDefaults">
                    <rt-demo-prevent-defaults></rt-demo-prevent-defaults>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/prevent-defaults/prevent-defaults.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/prevent-defaults/prevent-defaults.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="select-on-focus">
            <h3>Директива <code>rtSelectOnFocus</code></h3>
            <p>
                Данная директива используется на элементах input и выделяет все содержимое элемента при фокусе.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="rtSelectOnFocus">
                    <rt-demo-select-on-focus></rt-demo-select-on-focus>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/select-on-focus/select-on-focus.component.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="focus-on-render">
            <h3>Директива <code>rtFocusOnRender</code></h3>
            <p>
                Данная директива, по сути, представляет собой аналог HTML аттрибута <a target="_blank" href="http://www.w3schools.com/tags/att_input_autofocus.asp">autofocus</a>, но работает при динамической отрисовке.
            </p>
            <p>
                Элемент input, помеченный данной директивой, автоматически получит фокус после того, как будет отрисован он сам и его вложенный
                контент.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="rtFocusOnRender">
                    <rt-demo-focus-on-render></rt-demo-focus-on-render>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/focus-on-render/focus-on-render.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="live-demo/%2Bmisc-directives-sample/focus-on-render/focus-on-render.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
    </div>
</div>