<div>
    <h1 class="page-title">Buffered List Sample</h1>
    <rt-buffered-list [fetchMethod]="loadData" #list="rtList">
        <rt-demo-filter-area>
        </rt-demo-filter-area>
        <table class="table table-striped" [rtSelectionAreaFor]="list.items">
            <caption rt-demo-toolbar class="text-right">
            </caption>
            <thead rt-demo-sortable-header>
            </thead>
            <tbody>
                <tr *ngFor="let airport of list.items, let index=index" [class.selected]="airport.selected" [rtSelectByIndex]="index">
                    <td>
                        <rt-row-number [index]="index">
                        </rt-row-number>
                    </td>
                    <td>{{airport.iata}}</td>
                    <td>{{airport.name}}</td>
                    <td>{{airport.continent}}</td>
                    <td>{{airport.type}}</td>
                    <td>{{airport.size || 'unspecified'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="list-pager">
                        <rt-demo-buffered-footer></rt-demo-buffered-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-buffered-list>
</div>