<form>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label>Airport name</label>
                <input type="text" class="form-control" [(ngModel)]="airportName" name="airportName" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Airport type</label>
                <select class="form-control" [(ngModel)]="selectedAirportType" name="airportType">
                    <option *ngFor="let type of airportTypes | async" [value]="type.key">{{type.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Airport size</label>
                <select class="form-control" [(ngModel)]="selectedAirportSize" name="airportSize">
                    <option *ngFor="let size of airportSizes | async" [value]="size.key">{{size.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" *ngIf="!useAdvancedFilters">
            <div class="form-group">
                <input rtLoadData type="submit" class="btn btn-img rt-btn-load" title="Load data from server" />
                <input rtCancelLoad type="button" class="btn btn-img rt-btn-cancel" title="Cancel loading" />
                <button rtResetSettings type="button" class="btn btn-img rt-btn-reset" title="Reset filters values"></button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="useAdvancedFilters">
        <rt-demo-additional-filter #additional [rtRegisterAsFilter]="additional"></rt-demo-additional-filter>
    </div>
    <div class="arrow-icon" [ngClass]="{collapsed: !useAdvancedFilters}" (click)="toggleAdvancedFilters()" [title]="useAdvancedFilters?'Disable advanced filters':'Enable advanced filters'"></div>
</form>