@import '../../shared.scss';

label {
    color: $color-muted;
    font-weight: normal;
    line-height: 1.5;
}

form {
    margin-bottom: 40px;
    .btn {
        margin-top: 21px;
        margin-bottom: -5px;
        & + .btn {
            margin-left: 10px;
        }
    }
}

.arrow-icon, .arrow-icon.collapsed {
    width: 100%;
    height: 17px;
    margin: 10px 0 20px 0;
    padding-bottom: 27px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.arrow-icon:before, .arrow-icon.collapsed:before {
    content: '';
    display: block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAARCAYAAAAhUad0AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMK0KCsAAAAF+SURBVEhLtVWhTsRAEK1AIhBIBAKBRCCQCCQCgSSBhLvZhiAROOQJJALBByCQCATi5HV3S2pIEAgEEkEC6e02iLKzN224Mjl6pfeSJzqdNzOd7swGTXDWz+dADk+7ymyRabYQA7MMyvaFtjkSdHaORdDr9gHShKDMZ5HwBxOI7Sq5tYNOlC6BNrdMspJYDBZFkv9B6HRXKPvOJeIIKrvZT/IFkk8HiD8WMQAXuAZfhTabFKoeQmm3R0I2YC263/EldNb785AdPebzIraXXBCGd0KZJ8ZepT58MCuUYhzYDtD2hRGNE/+vNAeoqVukP2RquOcTFcBZG7WDFxX08+nmlGQlILI7rpg3TlPhNUnwK1mHklhpV5tjcmeBY+V876vaKsl9clLX8sE0gy/U8GRS18iNT4pC3K9NVhzIdN21+5mLSy5s0qQjszV63Qj+kGl7VYn7O6n/upYXeHWjkZmSupkLo3SDTK3C7266mcjkNpCyF9gOepwJijs4CILgGzwjtlX8jwyPAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 29px;
    height: 17px;
}

.arrow-icon.collapsed:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAARCAYAAAAhUad0AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMK0KCsAAAAGESURBVEhLtVQhT8QwGJ1AIBAIBAKBQCIQCAQ/AIFAIHAn2NrlgkAiSCDhByCQSATiJOLkBIK1HTkBDoFAIBAkcFu7IEa/27ew3botW46XvOTWve+97fo6C0BYdHrmJXOTi38EYXIHf1oWFSqhXN3TB7mKSzNFz0vmqYgvIQeXMDQN/nR4dIDLM4HL43XtPcoycDkX+sfb3ihZxNud4Qh5RIWUeW+8ZQxNiFCvJIi2UdIKJPhaIkLemXxRYg4F6sEfGsQXbUoGZdEP/G7yA6KsOjRHcfgo11BuRL4sdUQ5hMrzyVsZRBkJl98OkzaOFDBdlhoOcSSF64dbsI8GYYGExwPYMxwzlqVMKQlXxzhSRP85WdCim/JQiW9UhPtVZclTa55sFm9gRDXgrMKZNZm0ocvVFew12jbD9sMV/Zd4JrNGcvXhMrWLVu0AR0V/l0+aSjbFYZ+Nl9GiOwgLN/XTvxgCcqwpS1dgya7LYS3K0hXEV3uwZ1lg67J0RVqyeNCtLJb1CzDEqUrnZrYNAAAAAElFTkSuQmCC');
}

.btn {
    margin-top: 21px;
    margin-bottom: -5px;
    &.btn-reset {
        @include img-button();
        @include icon-reset();
    }
    &.btn-load {
        @include img-button();
        @include icon-load();
    }
    &.btn-cancel {
        @include img-button();
        @include icon-cancel();
    }
}
