<form class="filters">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <label>Airport name</label>
            <input type="text" class="form-control" [(ngModel)]="airportName" />
        </div>
        <div class="col-md-3">
            <label>Airport type</label>
            <select class="form-control" [(ngModel)]="selectedAirportType">
                    <option *ngFor="let type of airportTypes | async" [value]="type.key">{{type.value}}</option>
                </select>
        </div>
        <div class="col-md-3">
            <label>Airport size</label>
            <select class="form-control" [(ngModel)]="selectedAirportSize">
                    <option *ngFor="let size of airportSizes | async" [value]="size.key">{{size.value}}</option>
                </select>
        </div>
        <div class="col-md-3">
            <input rtLoadData type="submit" class="btn btn-img rt-btn-load" value="Load data" />
            <input rtCancelLoad type="submit" class="btn btn-img rt-btn-cancel" value="Cancel load" />
            <button rtResetSettings type="button" class="btn btn-img rt-btn-reset" value="Reset filters"></button>
        </div>
    </div>
</form>