<form class="filters">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Airport name</label>
                <input type="text" class="form-control" [(ngModel)]="airportName" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Airport type</label>
                <select class="form-control" [(ngModel)]="selectedAirportType">
                    <option *ngFor="let type of airportTypes|async" [value]="type.key">{{type.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Airport size</label>
                <select class="form-control" [(ngModel)]="selectedAirportSize">
                    <option *ngFor="let size of airportSizes|async" [value]="size.key">{{size.value}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-row">
                            <div class="custom-col">
                                <label class="radio-inline control-label">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked hidden />
                                            <span>Label</span>
                                        </label>
                            </div>
                            <div class="custom-col">
                                <label class="radio-inline control-label">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" hidden />
                                            <span>Label</span>
                                        </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="has-feedback">
                            <input type="text" class="form-control" />
                            <span class="icon-date form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="has-feedback">
                            <input type="text" class="form-control" />
                            <span class="icon-date form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Label</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Label</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Label</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input rtLoadData type="submit" class="btn btn-img rt-btn-load" value="Load data" />
                <input rtCancelLoad type="submit" class="btn btn-img rt-btn-cancel" value="Cancel load" />
                <button rtResetSettings type="button" class="btn btn-img rt-btn-reset" value="Reset filters"></button>
            </div>
        </div>
    </div>
</form>