<div style="height: 400px; overflow: auto;" #scrollContainer>
    <form>
        <div class="form-group">
            <input (click)="list.reloadData()" [disabled]="list.busy" type="submit" class="btn btn-load" title="Load data" />
            <input (click)="list.cancelRequests()" [disabled]="list.ready" type="button" class="btn btn-cancel" title="Cancel loading" />
            <button (click)="list.resetSettings()" [disabled]="list.busy" type="button" class="btn btn-reset" title="Reset settings"></button>
        </div>
    </form>
    <div class="table-responsive">
        <cdk-virtual-scroll-viewport itemSize="41" style="height: 300px;">
            <table class="table table-striped" [rtList]="loadData" #list="rtList">
                <thead>
                    <tr>
                        <th class="t-col-iata-code"><span rtSort="iataCode">IATA</span></th>
                        <th class="t-col-airport-name"><span rtSort="name">Airport name</span></th>
                        <th class="t-col-city-name"><span rtSort="cityName">City</span></th>
                        <th class="t-col-country-name"><span rtSort="countryName">Country</span></th>
                    </tr>
                </thead>
                <tbody rtSelectionArea>
                    <ng-container *cdkVirtualFor="let airport of list.items">
                        <tr [rtSelectable]="airport">
                            <td>{{ airport.iataCode }}</td>
                            <td>{{ airport.name }}</td>
                            <td>{{ airport.cityName }}</td>
                            <td>{{ airport.countryName }}</td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <rt-status-progress>
                                <rt-demo-progress-bar></rt-demo-progress-bar>
                            </rt-status-progress>
                            <rt-status-done>
                                Data was loaded sucessfully.
                            </rt-status-done>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
