@import '../shared.scss';

:host /deep/ section {
    margin-top: -80px;
    padding-top: 80px;
}

:host /deep/ section:target h3 {
    text-decoration: underline;
}

:host /deep/ .col-md-4,:host /deep/ .options {
    padding: 5px;
}
:host /deep/ .item {
    background-color: rebeccapurple;
    padding: 25px;
    color: $color-white;
    text-align: center;
    cursor: pointer;
    margin: 1px 0;
}
:host /deep/ .item.selected {
    background-color: $color-blue !important;
}

:host /deep/ .btn-load {
    @include img-button();
    @include icon-reset();
    background-size: contain;
    width: 28px;
    height: 28px;
}
