@import '../shared.scss';

:host /deep/ .col-md-4,:host /deep/ .options {
    padding: 15px;
}
:host /deep/ .region {
    background-color: rebeccapurple;
    padding: 35px;
    color: $color-white;
    text-align: center;
    cursor: pointer;
}
:host /deep/ .region.selected {
    background-color: $color-blue;
}

:host /deep/ .btn-load {
    @include img-button();
    @include icon-reset();
    background-size: contain;
    width: 28px;
    height: 28px;
}
