<div>
    <h1>Selection</h1>
    <h3>Как подключить</h3>
    <p>Чтобы подключить функционал selection, импортируйте модуль <code>RtSelectionModule</code> из библиотеки right-angled.
        Также можно импортировать модуль <code>RtModule</code>, включающий в себя функционал всей библиотеки целиком.
    </p>
    <rt-demo-tab-section>
        <rt-demo-code-tab url="demo-stubs/selection-bootstrap/app.module.ts">
        </rt-demo-code-tab>
    </rt-demo-tab-section>

    <h3>Общая идея</h3>
    <p>
        Функицонал selection позволяет реализовать модель выбора элементов из коллекции на основе их индексов.
    </p>
    <p>
        Общая идея заключается в пометке HTML элемента, представляющего собой область выбора, директивой <code>rtSelectionAreaFor</code>.
        В качестве обязательного параметра директива принимает коллекцию элементов, выбор из которой предстоит осуществлять.
    </p>
    <p>
        Элементы, отрисованые внутри отмеченной области и помеченые директивой <code>rtSelectByIndex</code> становятся доступными
        для выбора посредством следующих действий:
    </p>
    <ul>
        <li>Клик мышью выбирает кликнутый элемент сбрасывая предыдущий выбор.</li>
        <li>Клик мышью с зажатой клавишей <code>Ctrl</code> выбирает кликнутый элемент сохраняя предыдщий выбор.</li>
        <li>Клик мышью с зажатой клавишей <code>Shift</code> выбирает последовательность элементов от последнего выбранного до
            кликнутого.</li>
        <li>Нажатие клавиши <code>&uarr;</code> выбирает предыдущий элемент. Или первый элемент списка, если ранее ничего не
            было выбрано.</li>
        <li>Нажатие клавиши <code>&rarr;</code> выбирает следующий элемент. Или первый элемент списка, если ранее ничего не было
            выбрано.</li>
        <li>Нажатие клавиш <code>Ctrl + &uarr;</code> выбирает первый элемент в списке.</li>
        <li>Нажатие клавиш <code>Ctrl + &rarr;</code> выбирает последний элемент в списке.</li>
        <li>Нажатие клавиш <code>Ctrl + A;</code> выбирает все элементы списка.</li>
    </ul>

    <p>
        Ниже вы можете увидеть минимальный живой пример и исходный код списка, элементы которого можно выбирать посредством следующих
        операций:
    </p>
    <rt-demo-tab-section>
        <rt-demo-sample-tab tabTitle="basic sample">
            <rt-demo-basic-usage></rt-demo-basic-usage>
        </rt-demo-sample-tab>
        <rt-demo-code-tab url="src/live-demo/%2Bselection-sample/basic-usage/basic-usage.component.ts">
        </rt-demo-code-tab>
        <rt-demo-code-tab url="src/live-demo/%2Bselection-sample/basic-usage/basic-usage.component.html">
        </rt-demo-code-tab>
    </rt-demo-tab-section>
</div>