<div class="col-md-3">
    <div class="form-group">
        <label>Region</label>
        <select class="form-control" [ngModel]="selectedRegion" (ngModelChange)="onRegionChanged($event)" name="region">
            <option *ngFor="let type of regions | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>Country</label>
        <select class="form-control" [ngModel]="selectedCountry" (ngModelChange)="onCountryChanged($event)" name="country">
            <option *ngFor="let type of countries | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label>City</label>
        <select class="form-control" [(ngModel)]="selectedCity" name="city">
            <option *ngFor="let type of cities | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <input rtLoadData type="submit" class="btn btn-img rt-btn-load" title="Load data from server" />
        <input rtCancelLoad type="button" class="btn btn-img rt-btn-cancel" title="Cancel loading" />
        <button rtResetSettings type="button" class="btn btn-img rt-btn-reset" title="Reset filters values"></button>
    </div>
</div>