rt-display-pager>div {
    display: inline;
}
:host {
    text-align: right;
    display: block;
    > * {
        display: block;
    }
    rt-display-pager > * {
        vertical-align: middle;
    }
}
rt-total-records-text
{
    text-align: right;
}
