@import '../../shared.scss';

ul {
    margin-right: -5px;
    margin-bottom: 0;
    li {
        .btn-primary {
            background-color: $color-light-blue;
            border-color: $color-light-blue;
            @include border-radius(0);
            &:hover,
            &:focus {
                background-color: $color-btn-primary-focus;
                border-color: $color-btn-primary-focus;
            }
            &:active {
                background-color: $color-btn-primary-active;
                border-color: $color-btn-primary-active;
                @include box-shadow(none);
            }
        }
    }
}