<ul>
  <li>
    <button class="btn btn-success" title="Select all items" rtSelectAll [recursive]="false">Select all</button>
  </li>
  <li>
    <button class="btn btn-success" title="Deselect all items" rtDeselectAll [recursive]="false">Deselect all</button>
  </li>
  <li>
    <button class="btn btn-success" title="Select all items" rtSelectAll>Select all recursivelly</button>
  </li>
  <li>
    <button class="btn btn-success" title="Deselect all items" rtDeselectAll>Deselect all recursivelly</button>
  </li>
  <li>
    <input type="checkbox" id="checkAll" rtCheckAll/><label for="checkAll">Check all</label>
  </li>
</ul>