<ul>
  <li class="pointer">
    <button class="btn btn-success" title="Select all items" rtSelectAll [recursive]="false">Select all</button>
  </li>
  <li class="pointer">
    <button class="btn btn-success" title="Deselect all items" rtDeselectAll [recursive]="false">Deselect all</button>
  </li>
  <li class="pointer">
    <button class="btn btn-success" title="Select all items" rtSelectAll>Select all recursivelly</button>
  </li>
  <li class="pointer">
    <button class="btn btn-success" title="Deselect all items" rtDeselectAll>Deselect all recursivelly</button>
  </li>
  <li class="pointer">
    <input type="checkbox" rtCheckAll/>Check all
  </li>
</ul>