@import '../../shared.scss';

:host /deep/ {
    div[rtselectionarea] {
        div[rtselectionarea] {
            padding: 0 15px;
        }
    }

    form {
        margin: 15px;
    }

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    [class*='col-'] {
        padding-right: 1px;
        padding-left: 1px;
    }

    .item {
        background-color: rebeccapurple;
        padding: 25px;
        color: $color-white;
        text-align: center;
        cursor: pointer;
        margin: 1px 0;
    }

    .item .rt-selected,
    .rt-selected .item,
    .rt-selected.item {
        background-color: $color-blue !important;
    }

    .options {
        padding: 0 1px 15px;
    }

    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
    }

    .checkbox-inline {
        margin-right: 10px;
    }
}
