<div>
    <h1 class="page-title">Regular List Sample</h1>
    <rt-list [fetchMethod]="loadData" #list="rtList">
        <rt-demo-filter-area>
        </rt-demo-filter-area>
        <table class="table table-striped" [rtSelectionAreaFor]="list.items">
            <caption rt-demo-toolbar class="text-right">
            </caption>
            <thead rt-demo-sortable-header>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items, let index=index" [class.selected]="item.selected" [rtSelectByIndex]="index">
                    <td>
                        <rt-row-number [index]="index">
                        </rt-row-number>
                    </td>
                    <td>{{item.iata}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.continent}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.size || 'unspecified'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="list-pager">
                        <rt-demo-footer></rt-demo-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-list>
</div>