@import '../../../shared.scss';

:host div.toolbar {
    ul {
        padding-left: 17px;
        list-style: none;
        margin-bottom: 0;

        li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
