@import './shared.scss';

$color-bismark: #7a8b94;
$color-olive: #647f11;
$color-pink: #D43669;
$color-regal: #0273D4;
$color-fog: #CFD8DC;

pre.prettyprint {
    border: none !important;
    padding: 15px !important;
}

.prettyprint {
  white-space: pre-wrap;
  background: $color-muted-grey;
  font-family: Monaco, "Lucida Console", monospace;
  color: $color-dark-grey;
  width: auto;
  overflow: auto;
  position: relative;
  padding: 0px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: $indent-unit * 3;
  border-radius: 4px;
  padding: ($indent-unit * 2) ($indent-unit * 4);

  &.linenums,
  &[class^="linenums:"],
  &[class*=" linenums:"]  {
    padding: 0px;
  }

  &.is-showcase {
    border: 4px solid $color-regal;
  }

  code {
    background: none;
    font-size: 13px;
    padding: 0px;
  }

  ol {
    background: $color-muted-grey;
    padding: ($indent-unit * 2) ($indent-unit * 4) ($indent-unit * 2) ($indent-unit * 7);
    margin: 0px;
    overflow: auto;
    font-size: 13px;

    li {
      color: $color-bismark;
      background: none;
      margin-bottom: 5px;
      line-height: normal;
      list-style-type: decimal;
      font-size: 12px;

      &:last-child {
        margin-bottom: 0px;
      }

      code {
        background: none;
        font-size: 13px;
      }
    }
  }

  .pnk,
  .blk {
    border-radius: 4px;
    padding: 2px 4px;
  }
  .pnk {
    background: $color-fog;
    color: $color-dark-grey;
  }
  .blk {
    background: $color-striped;
  }
  .otl {
    outline: 1px solid rgba(darkgrey, .56);
  }
  .kwd {
    color: $color-pink;
  }
  .typ,
  .tag {
    color: $color-pink;
  }
  .str,
  .atv {
    color: $color-olive;
  }
  .atn {
    color: $color-olive;
  }
  .com {
    color: $color-olive;
  }
  .lit {
    color: $color-olive;
  }
  .pun {
    color: $color-bismark;
  }
  .pln {
    color: $color-dark-grey;
  }
  .dec {
    color: $color-olive;
  }
}
