@import 'shared.scss';
@import 'prettyprint-angulario.scss';

html, body {
    background: $color-light-grey;
    font-size: $font-medium;
    * {
        outline: none !important;
    }
}

.app-loader {
    width: 100%;
    height: 100vh;
    background: url(img/progress/app-loader.gif) center center no-repeat;
}
