<div>
    <form>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>This field name is "defaultField". And it doesn't configure
                        <code>parameterName</code> property.</label>
                    <input type="text" class="form-control" [(ngModel)]="defaultField" name="defaultField" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>This field name is "configuredField". And it configures
                        <code>parameterName</code> property to "customParameterName".</label>
                    <input type="text" class="form-control" [(ngModel)]="configuredField" name="configuredField" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <input (click)="serializeRequest()" type="submit" class="btn btn-primary" title="Serialize state" value="Serialize state"
                    />
                    <input (click)="resetSate()" type="submit" class="btn btn-primary" title="Reset state" value="Reset state" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <code>Request json:</code> {{lastRequest|json}}
    </div>
</div>