<div>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li dropdown>
                            <a href="#" class="dropdown-toggle text-uppercase" dropdownToggle>Lists Samples <span class="caret"></span></a>
                            <ul class="dropdown-menu" dropdownMenu>
                                <li>
                                    <a href="#" [routerLink]="['PagedListSample']">Paged List Sample</a>
                                </li>
                                <li>
                                    <a href="#" [routerLink]="['BufferedListSample']">Buffered List Sample</a>
                                </li>
                                <li>
                                    <a href="#" [routerLink]="['RegularListSample']">Regular List Sample</a>
                                </li>
                                <li>
                                    <a href="#" [routerLink]="['MasterDetailListSample']">Master-details Sample</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="layout">
        <div class="container-fluid">
            <div class="row">
                <div id="navbarMinLeft" class="visible-lg-block">
                    <span class="roll-up"></span>
                    <div class="nav-wrapper">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" class="active"></a>
                            </li>
                        </ul>
                    </div>
                    <span class="roll-down"></span>
                </div>
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-lg-offset-1">
                    &copy; 2016 All right reserved
                </div>
                <div class="col-md-6 col-lg-5 text-right">
                    &copy; Created by <a href="http://eastbanctech.ru/">EastBanc Technologies</a>
                </div>
            </div>
        </div>
    </nav>
</div>