@import '../../shared.scss';

rt-display-pager>div {
    display: inline;
}
rt-demo-paged-footer,
rt-demo-buffered-footer,
rt-demo-regular-footer {
    text-align: right;
    display: block;
    > * {
        display: block;
    }
    rt-display-pager > * {
        vertical-align: middle;
    }
}
