<rt-list-state-no-data class="text-center">
    There are no data found
</rt-list-state-no-data>
<rt-list-state-request-canceled class="text-center">
    Data loading was cancelled
</rt-list-state-request-canceled>
<rt-list-state-failed class="text-center">
    An error has occured since the last data loading
</rt-list-state-failed>
<rt-list-state-initial class="text-center">
    Enter search options and press "Show" button
</rt-list-state-initial>
<rt-list-state-progress class="text-center">
    Loading....
</rt-list-state-progress>
<rt-total-records-text #rtref class="text-right">
    {{rtref.pager.loadedCount}} records displayed
</rt-total-records-text>