<rt-list-state-no-data>
    There are no data found
</rt-list-state-no-data>
<rt-list-state-request-canceled>
    Data loading was cancelled
</rt-list-state-request-canceled>
<rt-list-state-failed>
    An error has occured since the last data loading
</rt-list-state-failed>
<rt-list-state-initial>
    Enter search options and press "Show" button
</rt-list-state-initial>
<rt-list-state-progress>
    Loading....
</rt-list-state-progress>
<rt-total-records-text #rtref>
    {{rtref.pager.loadedCount}} records displayed
</rt-total-records-text>