<table class="table" [rtSelectionAreaFor]="regions | async">
    <caption>
        <ul>
            <li>
                <label class="checkbox-inline">
                    <input type="checkbox" rtCheckAll [recursive]="false" />Check all</label>
            </li>
            <li>
                <label class="checkbox-inline">
                    <input type="checkbox" rtCheckAll/>Check all recursively</label>
            </li>
        </ul>
    </caption>
    <tbody>
        <template ngFor let-region [ngForOf]="regions | async" let-index="index">
            <tr [class.selected]="region.selected">
                <td><input type="checkbox" [rtSelectionCheckboxFor]="index" />
                </td>
                <td>{{region.name}} ({{region.countries.length}} countries)</td>
            </tr>
            <tr *ngIf="region.selected" style="background-color: darkcyan;">
                <td colspan="2">
                    <table class="table">
                        <tbody [rtSelectionAreaFor]="region.countries">
                            <template ngFor let-country [ngForOf]="region.countries" let-index="index">
                                <tr [class.selected]="country.selected">
                                    <td>
                                        <input type="checkbox" [rtSelectionCheckboxFor]="index" />
                                    </td>
                                    <td>{{country.name}} ({{country.cities.length}} cities)</td>
                                </tr>
                                <tr *ngIf="country.selected" style="background-color: dodgerblue;">
                                    <td colspan="2">
                                        <table class="table">
                                            <tbody [rtSelectionAreaFor]="country.cities">
                                                <template ngFor let-city [ngForOf]="country.cities" let-index="index">
                                                    <tr [class.selected]="city.selected">
                                                        <td>
                                                            <input type="checkbox" [rtSelectionCheckboxFor]="index" />
                                                        </td>
                                                        <td>{{city.name}} ({{city.airports.length}} airports)</td>
                                                    </tr>
                                                    <tr *ngIf="city.selected" style="background-color: darkorange;">
                                                        <td colspan="2">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr *ngFor="let airport of city.airports">
                                                                        <td>{{airport.name}} ({{airport.iata}})</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </td>
            </tr>
        </template>
    </tbody>
</table>