@import '../../shared.scss';

ul {
    background-color: $color-light-blue;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 0px;
    li {
    display: inline-block;
    border: none;
    button.btn {
        line-height: 28px;
        height: 28px;
        padding: 0 24px;
        font-size: 13px;
        background-color: $color-blue;
        color: $color-white;
        border: 0px 0px 0 0;
        border-radius: 0px;
        border-width: 1px;
        border-color: $color-blue;
    }
    }

    li.active, li.active button.btn {
        background: $color-muted-grey;
        border-color: $color-muted-grey;
        color: #333;
    }
}
