@import '../../shared.scss';
:host>div {
    margin: 35px 0;
}
:host rt-demo-sample-tab div {
    background: $color-muted-grey;
    padding: 15px;
}

ul {
    background-color: $color-light-blue;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    li {
    display: inline-block;
    border: none;
    button.btn {
        padding: 6px 24px;
        font-size: 13px;
        background-color: $color-blue;
        color: $color-white;
        border: none;
        border-radius: 0;
    }
    }

    li.active, li.active button.btn {
        border-color: $color-muted-grey;
        button.btn{
            color: #333;
            background: $color-muted-grey;
            padding: 7px 24px;
        }
    }
}
