<div class="row" [rtSelectionAreaFor]="regions | async">
    <div class="col-md-12 toolbar">
        <ul>
            <li>
                <button class="btn btn-primary" title="Select all items" rtSelectAll [recursive]="false">Select all</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Deselect all items" rtDeselectAll [recursive]="false">Deselect all</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Select all items" rtSelectAll>Select all recursivelly</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Deselect all items" rtDeselectAll>Deselect all recursivelly</button>
            </li>
        </ul>
    </div>
    <div class="col-md-12" *ngFor="let region of regions | async, let index=index">
        <div class="col-md-12 country" [class.selected]="region.selected" [rtSelectByIndex]="index">
            {{region.name}} ({{region.countries.length}} countries)
        </div>

        <div class="col-md-12" *ngIf="region.selected" [rtSelectionAreaFor]="region.countries">
            <div *ngFor="let country of region.countries, let index=index">
                <div class="col-md-12 country" [class.selected]="country.selected" [rtSelectByIndex]="index" style="background-color: darkcyan;">
                    {{country.name}} ({{country.airports.length}} airports)
                </div>
                <div class="col-md-12" *ngIf="country.selected" [rtSelectionAreaFor]="country.airports">
                    <div *ngFor="let airport of country.airports, let index=index">
                        <div class="col-md-12 country" [class.selected]="airport.selected" [rtSelectByIndex]="index" style="background-color: darkorange;">
                            {{airport.name}} ({{airport.iata}})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>