<div>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" [routerLink]="['']"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li  class="dropdown">
                            <span class="dropdown-toggle text-uppercase">Lists Samples <span class="caret"></span></span>  
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" [routerLink]="['']">Combined Sample</a>
                                </li>
                                <li>
                                    <a href="#" [routerLink]="['/selection']">Working with selection</a>
                                </li>
                                <li>
                                    <a href="#" [routerLink]="['/misc-directives']">Additional directives</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-lg-offset-1">
                    &copy; 2016 All rights reserved
                </div>
                <div class="col-md-6 col-lg-5 text-right">
                    &copy; Created by <a href="http://eastbanctech.ru/">EastBanc Technologies</a>
                </div>
            </div>
        </div>
    </nav>
</div>