<table class="table table-striped">
    <thead>
        <tr>
            <th>Region</th>
        </tr>
    </thead>
    <tbody [rtSelectionAreaFor]="regions|async">
        <tr *ngFor="let region of regions | async, let index=index" [class.selected]="region.selected" [rtSelectByIndex]="index">
            <td class="text-center">{{region.name}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Selection log</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of selectionActivityLog">
            <td class="text-center">{{item}}</td>
        </tr>
    </tbody>
</table>