<div>
    <h1>Master-detail Sample</h1>
    <rt-paged-list [fetchMethod]="loadData" #list="rtList">
        <rt-demo-filter-area #filter [rtRegisterAsFilter]="filter">
        </rt-demo-filter-area>
        <table class="table table-striped" [rtSelectionAreaFor]="list.items">
            <caption rt-demo-toolbar>
            </caption>
            <thead rt-demo-sortable-header>
            </thead>
            <tbody>
                <template ngFor let-airport [ngForOf]="list.items" let-index="index">
                    <tr [class.selected]="airport.selected" [rtSelectByIndex]="index">
                        <td>
                            <rt-row-number [index]="index">
                            </rt-row-number>
                        </td>
                        <td>{{airport.iata}}</td>
                        <td>{{airport.name}}</td>
                        <td>{{airport.timeZone}}</td>
                        <td>{{airport.cityName}}</td>
                        <td>{{airport.countryName}}</td>
                        <td>{{airport.region}}</td>
                        <td>{{airport.type}}</td>
                        <td>{{airport.size || 'unspecified'}}</td>
                    </tr>
                    <tr *ngIf="airport.selected">
                        <td colspan="9">
                            <rt-demo-country-details [countryName]="airport.countryName"></rt-demo-country-details>
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <rt-demo-paged-footer></rt-demo-paged-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-paged-list>
</div>