<div>
    <h1 class="page-title">Master-detail Sample</h1>
        <rt-list [destroyOnReload]="items" [fetchMethod]="loadData">
        <table class="table table-striped" [rtSelectionAreaFor]="items">
            <thead rt-demo-sortable-header>
            </thead>
            <caption rt-demo-toolbar>
            </caption>

            <tbody>
                <template ngFor let-item [ngForOf]="items" let-index="index">
                    <tr [class.success]="item.selected" [rtSelectByIndex]="index">
                        <td>
                            <rt-row-number [index]="index">
                            </rt-row-number>
                        </td>
                        <td>{{item.iata}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.continent}}</td>
                        <td>{{item.type}}</td>
                        <td>Lat - {{item.lat || 'unknown'}} Lon - {{item.lon || 'unknown'}}</td>
                    </tr>
                    <tr *ngIf="item.selected">
                        <td colspan="6">
                            Any details here
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="list-pager text-right">
                        <rt-demo-footer></rt-demo-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-list>
</div>