<div class="row" [rtSelectionAreaFor]="countries" [horizontal]="horizontal" [multiple]="multiple" [toggleOnly]="toggleOnly" [autoSelectFirst]="autoSelectFirst">
    <div class="options">
        <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="horizontal">horizontal
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="toggleOnly">toggleOnly
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="multiple">multiple
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="autoSelectFirst">autoSelectFirst
        </label>
        <button type="button" class="btn btn-load" title="Reload data" (click)="reload()"></button>
    </div>
    <div class="col-md-4" *ngFor="let country of countries, let index=index">
        <div class="item" [class.selected]="country.selected" [rtSelectByIndex]="index">
            {{country.name}}
        </div>
    </div>
</div>