<div>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <rt-demo-header></rt-demo-header>
                </div>
            </div>
        </div>
    </nav>
    <div class="layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 left">
                    Code licensed under
                    <a href="https://github.com/eastbanctechru/right-angled/blob/master/LICENSE" target="_blank">MIT license</a>. Documentation licensed under
                    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
                </div>
                <div class="col-md-6 col-sm-12 col-lg-5 right">
                    View on
                    <a target="_blank" href="https://github.com/eastbanctechru/right-angled">Github</a>
                </div>
            </div>
        </div>
    </nav>
</div>
